:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > form {
    flex: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    row-gap: .25em;
  }

  > output.navigate-error {
    flex: none;
    border: 1px solid var(--sci-color-negative);
    background-color: var(--sci-color-background-negative);
    color: var(--sci-color-negative);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }
}
