@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  gap: .25em;
  margin-top: 1px; // to not crop outline of buttons when active

  > form {
    flex: none;
    display: flex;
    align-items: center;
    gap: .25em;

    > input.url {
      @include sci-design.style-input-field();
      flex: auto;
    }

    > button {
      flex: none;

      &.context-define {
        transform: rotate(180deg);
      }
    }
  }

  > sci-router-outlet {
    flex: auto;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
  }
}
