:host {
  background-color: var(--sci-color-background-elevation);
  border: 1px solid var(--sci-color-border);
  border-radius: var(--sci-corner);
  box-shadow: var(--sci-elevation) var(--sci-static-color-black);
  width: 100%;

  > ul {
    list-style: none;
    margin: 1em;
    padding: 0;

    > li {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
      user-select: none;
      gap: .25em 2em;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      > span.label {
        grid-column: 1/2;
        grid-row: 1/2;
        color: var(--sci-color-accent);
      }

      > span.description {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: smaller;
      }

      > sci-toggle-button {
        grid-column: 2/3;
        grid-row: 1/3;
      }

      code.preferred-size {
        display: block;
        margin: .5em 0;
      }
    }
  }
}
