<ul cdkTrapFocus cdkTrapFocusAutoCapture>
  <li>
    <span class="label">Page scrolling</span>
    <span class="description">Enables native page scrolling in the embedded document</span>
    <button class="material-icons toggle" [class.enabled]="pageScrollingEnabled" (click)="onPageScrollingToggle()">{{ pageScrollingEnabled ? 'toggle_on' : 'toggle_off'}}</button>
  </li>
  <li class="e2e-preferred-size">
    <span class="label">Preferred size</span>
    <span class="description" *ngIf="!preferredSize">
      There is no preferred size set.
    </span>
    <span class="description" *ngIf="preferredSize">
      The following preferred size is set:
      <code class="preferred-size">{{preferredSize | json}}</code>
    </span>
    <button type="button" class="e2e-reset" (click)="onPreferredSizeResetClick()" [disabled]="!preferredSize">reset</button>
  </li>
</ul>
