:host {
  display: flex;
  flex-direction: column;

  > sci-filter-field {
    flex: none;
    margin-bottom: .25em;
  }

  > sci-viewport {
    flex: 1 1 0;

    section.no-result {
      font-style: italic;
      text-align: center;
      margin: 2em;
    }
  }
}
