<div class="qualifier">
  <span *ngIf="!capability.private" class="material-icons" title="Public API - This capability has public scope. Other applications can interact with this capability.">visibility</span>
  <span *ngIf="capability.private" class="material-icons" title="Private API - This capability is not visible to other applications.">visibility_off</span>
  <devtools-qualifier-chip-list [type]="capability.type" [qualifier]="capability.qualifier"></devtools-qualifier-chip-list>
</div>
<div class="actions">
  <span *ngIf="appSymbolicName" class="app-symbolic-name" (click)="onOpenAppClick($event, appSymbolicName)" title="Navigate to details of {{appSymbolicName}}.">
    <span>{{appSymbolicName}}</span>
    <span class="material-icons">exit_to_app</span>
  </span>
  <span class="material-icons" title="Copy the intention to interact with this capability into the clipboard." (click)="onCopyToClipboard($event)">content_copy</span>
</div>
