<span class="visibility"
      [class.private]="capability().private"
      [class.inactive]="capability().inactive"
      [attr.title]="tooltip()"
      sciMaterialIcon>
  @if (capability().private) {
    visibility_off
  } @else {
    visibility
  }
</span>

<sci-qualifier-chip-list [type]="capability().type" [qualifier]="capability().qualifier"/>
<div class="actions">
  @if (appSymbolicName(); as appSymbolicName) {
    <a href="" class="app-symbolic-name" (click)="onOpenAppClick($event, appSymbolicName)" title="Navigate to details of {{appSymbolicName}}.">
      {{appSymbolicName}}
    </a>
  }
  <button class="copy-to-clipboard" title="Copy the intention to interact with this capability into the clipboard." (click)="onCopyToClipboard($event)" sciMaterialIcon>content_copy</button>
</div>
