:host {
  display: flex;
  user-select: none;
  align-items: center;
  gap: 1em;

  &:has(span.visibility.inactive) :is(sci-qualifier-chip-list, span.visibility) {
    opacity: .5;
  }

  > span.visibility {
    color: var(--sci-color-text-subtle);

    &:not(.private):not(.inactive) {
      color: var(--sci-color-accent)
    }
  }

  > div.actions {
    flex: auto;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;

    > a.app-symbolic-name {
      font-size: smaller;
    }

    > button.copy-to-clipboard {
      font-size: 1.5em;
    }
  }
}
