:host {
  display: flex;
  user-select: none;
  align-items: center;
  gap: 1em;

  > span.visibility {
    &.private {
      color: var(--sci-color-text-subtlest)
    }

    &.public {
      color: var(--sci-color-accent)
    }
  }

  > div.actions {
    flex: auto;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;

    > a.app-symbolic-name {
      font-size: smaller;
    }

    > button.copy-to-clipboard {
      font-size: 1.5em;
    }
  }
}
