@if (capability.private) {
  <span class="visibility private" title="Private API - This capability is not visible to other applications." sciMaterialIcon>visibility_off</span>
} @else {
  <span class="visibility public" title="Public API - This capability has public scope. Other applications can interact with this capability." sciMaterialIcon>visibility</span>
}

<sci-qualifier-chip-list [type]="capability.type" [qualifier]="capability.qualifier"/>
<div class="actions">
  @if (appSymbolicName) {
    <a href="" class="app-symbolic-name" (click)="onOpenAppClick($event, appSymbolicName)" title="Navigate to details of {{appSymbolicName}}.">
      {{appSymbolicName}}
    </a>
  }
  <button class="copy-to-clipboard" title="Copy the intention to interact with this capability into the clipboard." (click)="onCopyToClipboard($event)" sciMaterialIcon>content_copy</button>
</div>
