@use '@scion/components.internal' as sci-ɵcomponents;

:host {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  user-select: none;

  > div.qualifier, > div.actions {
    display: flex;
    align-items: center;
    gap: .5em;
    color: var(--sci-color-accent);

    &.actions {
      > button.app-symbolic-name {
        all: unset;
        @include sci-ɵcomponents.theme-chip(var(--sci-color-accent), null, var(--sci-color-accent));
        font-weight: bold;
        display: flex;
        gap: .5em;
        align-items: center;
      }
    }
  }
}
