@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;

  > * {
    flex: none;

    &:not(:first-child) {
      margin-top: .5em;
    }
  }

  > form {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: .25em;

    div.subscriber-badge {
      display: flex;
      margin: 2px 0 10px 0;
      @include sci-design.style-chip(var(--sci-color-border), var(--sci-color-background-secondary), var(--sci-color-text));
      padding: .25em 1em;

      > span.count {
        margin-right: .25em;
      }
    }
  }

  > output.publish-error {
    border: 1px solid var(--sci-color-negative);
    background-color: var(--sci-color-background-negative);
    color: var(--sci-color-negative);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }

  > sci-list.replies {
    flex: auto;
    min-height: 300px;
  }
}
