<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="Flavor *">
    <select [formControlName]="FLAVOR" class="e2e-flavor">
      <option [value]="MessagingFlavor.Topic">Topic</option>
      <option [value]="MessagingFlavor.Intent">Intent</option>
    </select>
  </sci-form-field>
  <ng-container *ngIf="isTopicMessaging(); then topic_template else intent_template"></ng-container>

  <ng-template #topic_template>
    <sci-form-field label="Topic *" [formGroupName]="DESTINATION">
      <input [formControlName]="TOPIC" class="e2e-topic">
    </sci-form-field>
  </ng-template>

  <ng-template #intent_template>
    <sci-form-field label="Intent type" [formGroupName]="DESTINATION">
      <input [formControlName]="TYPE" class="e2e-intent-type">
    </sci-form-field>

    <sci-form-field label="Intent qualifier">
      <sci-params-enter [paramsFormArray]="$any(form.get(DESTINATION).get(QUALIFIER))" [addable]="true" [removable]="true" class="e2e-intent-qualifier"></sci-params-enter>
    </sci-form-field>
  </ng-template>
</form>

<button (click)="onSubscribe()" *ngIf="!isSubscribed" [disabled]="form.invalid" class="e2e-subscribe">Subscribe</button>
<button (click)="onUnsubscribe()" *ngIf="isSubscribed" class="e2e-unsubscribe">Unsubscribe</button>

<output class="subscribe-error" *ngIf="subscribeError">
  {{subscribeError}}
</output>


<ng-container *ngIf="isSubscribed">
  <sci-list class="messages e2e-messages">
    <ng-container *ngFor="let message of messages">

      <ng-template sciListItem [actions]="message.headers.get(MessageHeaders.ReplyTo) ? reply_action: null">
        <app-message-list-item [message]="message" [isTopicMessage]="isTopicMessaging()"></app-message-list-item>
      </ng-template>

      <ng-template #reply_action>
        <button class="material-icons e2e-reply" title="Reply" (click)="onReply(message.headers.get(MessageHeaders.ReplyTo))">reply</button>
      </ng-template>

    </ng-container>
  </sci-list>
  <button class="e2e-clear-messages" (click)="onClear()">Clear</button>
</ng-container>
