<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="Flavor *">
    <select [formControl]="form.controls.flavor" class="e2e-flavor">
      <option [value]="MessagingFlavor.Topic">Topic</option>
      <option [value]="MessagingFlavor.Intent">Intent</option>
    </select>
  </sci-form-field>
  <ng-container *ngIf="isTopicMessaging(); then topic_template else intent_template"></ng-container>

  <ng-template #topic_template>
    <ng-container [formGroup]="form.controls.destination">
      <sci-form-field label="Topic *">
        <input [formControl]="(form.controls.destination | appAs:TopicMessageDestinationFormGroup).controls.topic" class="e2e-topic">
      </sci-form-field>
    </ng-container>
  </ng-template>

  <ng-template #intent_template>
    <ng-container [formGroup]="form.controls.destination">
      <sci-form-field label="Intent type">
        <input [formControl]="(form.controls.destination | appAs:IntentMessageDestinationFromGroup).controls.type" class="e2e-intent-type">
      </sci-form-field>

      <sci-form-field label="Intent qualifier">
        <sci-key-value-field [keyValueFormArray]="(form.controls.destination | appAs:IntentMessageDestinationFromGroup).controls.qualifier" [addable]="true" [removable]="true" class="e2e-intent-qualifier"></sci-key-value-field>
      </sci-form-field>
    </ng-container>
  </ng-template>
</form>

<button (click)="onSubscribe()" *ngIf="!isSubscribed" [disabled]="form.invalid" class="e2e-subscribe" sci-primary>Subscribe</button>
<button (click)="onUnsubscribe()" *ngIf="isSubscribed" class="e2e-unsubscribe" sci-primary>Unsubscribe</button>

<output class="subscribe-error" *ngIf="subscribeError">
  {{subscribeError}}
</output>


<ng-container *ngIf="isSubscribed">
  <sci-list class="messages e2e-messages">
    <ng-container *ngFor="let message of messages">
      <ng-template sciListItem [actions]="message.headers.get(MessageHeaders.ReplyTo) ? [reply_action] : []">
        <app-message-list-item [message]="message" [isTopicMessage]="isTopicMessaging()"></app-message-list-item>
      </ng-template>

      <ng-template #reply_action>
        <button class="e2e-reply" title="Reply" (click)="onReply(message.headers.get(MessageHeaders.ReplyTo))" sciMaterialIcon>reply</button>
      </ng-template>
    </ng-container>
  </sci-list>
  <button class="e2e-clear-messages" (click)="onClear()">Clear</button>
</ng-container>
