@use '@scion/components.internal/design' as sci-design;

:host {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;

  > div.hints {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    place-content: center;

    > span.no-provider-found {
      font-weight: bold;
      @include sci-design.style-chip(var(--sci-color-negative), var(--sci-color-background-negative), var(--sci-color-negative));
    }
  }
}
