@use '@scion/components.internal' as sci-ɵcomponents;

:host {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;

  > div.hints {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > span.no-provider-found {
      font-weight: bold;
      @include sci-ɵcomponents.theme-chip(rgba(255, 0, 0, .75), rgba(255, 0, 0, .1), rgba(255, 0, 0, .75));
    }
  }
}
