<sci-accordion [variant]="'solid'">

  <!-- MessageClient#observe$ -->
  <ng-template sciAccordionItem [panel]="panel1" cssClass="e2e-message-client e2e-observe">
    <header>MessageClient#observe$</header>
  </ng-template>

  <ng-template #panel1>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.messageClient.observe}"/>
  </ng-template>

  <!-- MessageClient#request$ -->
  <ng-template sciAccordionItem [panel]="panel2" cssClass="e2e-message-client e2e-request">
    <header>MessageClient#request$</header>
  </ng-template>

  <ng-template #panel2>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.messageClient.request}"/>
  </ng-template>

  <!-- MessageClient#subscriberCount$ -->
  <ng-template sciAccordionItem [panel]="panel3" cssClass="e2e-message-client e2e-subscriber-count">
    <header>MessageClient#subscriberCount$</header>
  </ng-template>

  <ng-template #panel3>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.messageClient.subscriberCount}"/>
  </ng-template>

  <!-- IntentClient#observe$ -->
  <ng-template sciAccordionItem [panel]="panel4" cssClass="e2e-intent-client e2e-observe">
    <header>IntentClient#observe$</header>
  </ng-template>

  <ng-template #panel4>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.intentClient.observe}"/>
  </ng-template>

  <!-- IntentClient#request$ -->
  <ng-template sciAccordionItem [panel]="panel5" cssClass="e2e-intent-client e2e-request">
    <header>IntentClient#request$</header>
  </ng-template>

  <ng-template #panel5>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.intentClient.request}"/>
  </ng-template>

  <!-- ContextService#observe$ -->
  <ng-template sciAccordionItem [panel]="panel6" cssClass="e2e-context-service e2e-observe">
    <header>ContextService#observe$</header>
  </ng-template>

  <ng-template #panel6>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.contextService.observe}"/>
  </ng-template>

  <!-- ContextService#names$ -->
  <ng-template sciAccordionItem [panel]="panel7" cssClass="e2e-context-service e2e-names">
    <header>ContextService#names$</header>
  </ng-template>

  <ng-template #panel7>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.contextService.names}"/>
  </ng-template>

  <!-- ManifestService#lookupCapabilities$ -->
  <ng-template sciAccordionItem [panel]="panel8" cssClass="e2e-manifest-service e2e-lookup-capabilities">
    <header>ManifestService#lookupCapabilities$</header>
  </ng-template>

  <ng-template #panel8>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.manifestService.lookupCapabilities}"/>
  </ng-template>

  <!-- ManifestService#lookupIntentions$ -->
  <ng-template sciAccordionItem [panel]="panel9" cssClass="e2e-manifest-service e2e-lookup-intentions">
    <header>ManifestService#lookupIntentions$</header>
  </ng-template>

  <ng-template #panel9>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.manifestService.lookupIntentions}"/>
  </ng-template>

  <!-- FocusMonitor#focusWithin$ -->
  <ng-template sciAccordionItem [panel]="panel10" cssClass="e2e-focus-monitor e2e-focus-within">
    <header>FocusMonitor#focusWithin$</header>
  </ng-template>

  <ng-template #panel10>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.focusMonitor.focusWithin}"/>
  </ng-template>

  <!-- FocusMonitor#focus$ -->
  <ng-template sciAccordionItem [panel]="panel11" cssClass="e2e-focus-monitor e2e-focus">
    <header>FocusMonitor#focus$</header>
  </ng-template>

  <ng-template #panel11>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.focusMonitor.focus}"/>
  </ng-template>
</sci-accordion>

<ng-template #test_template let-test>
  <section class="panel">
    <div class="run-in-angular-checkbox">
      <sci-checkbox [(ngModel)]="test.runInAngular" class="e2e-run-inside-angular"/>
      <span>Subscribe in NgZone</span>
    </div>
    <button (click)="test.onTestClick()" class="e2e-subscribe">Subscribe</button>
    @for (emission of test.emissions; track emission) {
      <output class="zone e2e-emission" [attr.data-zone]="emission.insideAngular ? 'inside-angular' : 'outside-angular'">{{emission.label}}</output>
    }
  </section>
</ng-template>
