@if (connnectedToHost | async) {
  <sci-sashbox>
    @if (showPrimaryOutlet) {
      <ng-template sciSash size="1">
        <aside>
          <header>
            <button class="menu" (click)="onOpenMenuClick()">
              <span sciMaterialIcon>menu</span>
              {{primaryTitle$ | async}}
            </button>
            @if (showPrimaryOutlet && showDetailsOutlet) {
              <button class="collapse" (click)="onCollapsePrimaryClick()" sciMaterialIcon>keyboard_arrow_left</button>
            }
          </header>
          <router-outlet/>
        </aside>
      </ng-template>
    }
    @if (showDetailsOutlet) {
      <ng-template sciSash size="4">
        <main>
          <header>
            @if (!showPrimaryOutlet) {
              <button class="menu" (click)="onOpenMenuClick()" sciMaterialIcon>menu</button>
            }
            @if (!showPrimaryOutlet && showDetailsOutlet) {
              <button class="expand" (click)="onExpandPrimaryClick()" sciMaterialIcon>keyboard_arrow_right</button>
            }
            <span class="title" (dblclick)="onDetailsDblClick()">{{detailsTitle$ | async}}</span>
          </header>
          <router-outlet name="details"/>
        </main>
      </ng-template>
    }
  </sci-sashbox>
} @else {
  <section class="welcome">
    <header>Welcome to SCION Microfrontend Platform DevTools</header>
    <p>Embed SCION DevTools as microfrontend in your application to inspect micro applications and their dependencies.</p>
    <p>DevTools could not connect to the Microfrontend Platform host.
      Did you forget to register the DevTools application in the platform?
      For more information, please visit our <a href="https://scion-microfrontend-platform-developer-guide.vercel.app/#chapter:dev-tools">Developer Guide</a>.
    </p>
    <img src="scion-microfrontend-platform-logo.svg" alt="SCION Microfrontend Platform" class="logo">
  </section>
}

@if (menuOpen) {
  <devtools-app-menu (close)="onMenuClose()"/>
}

