:host {
  display: flex;
  overflow: hidden;

  > sci-viewport {
    flex: auto;

    section {
      display: flex;
      flex-direction: column;
      padding: 1em;

      > devtools-filter-field:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}
