<sci-viewport>
  <devtools-filter-field [title]="'Filter by Type'" type="value" placeholder="Type" [autocompleteValues]="(capabilityTypes$ | async) ?? []"
                         [initialFilters]="typeFilters" (addValueFilter)="onTypeFilterAdd($event)" (removeValueFilter)="onTypeFilterRemove($event)">
  </devtools-filter-field>
  <devtools-filter-field [title]="'Filter by Qualifier'" type="key-value" [autocompleteKeys]="(qualifierKeys$ | async) ?? []" [autocompleteValues]="(qualifierValues$ | async) ?? []"
                         [logicalOperator]="capabilityFilterSession.qualifierLogicalOperator" (changeLogicalOperator)="onQualifierLogicalOperatorChange($event)"
                         [initialFilters]="qualifierFilters" (addKeyValueFilter)="onQualifierFilterAdd($event)" (removeKeyValueFilter)="onQualifierFilterRemove($event)">
  </devtools-filter-field>
  <devtools-filter-field [title]="'Filter by App'" type="value" placeholder="App" [autocompleteValues]="appSymbolicNames"
                         [initialFilters]="appFilters" (addValueFilter)="onAppFilterAdd($event)" (removeValueFilter)="onAppFilterRemove($event)">
  </devtools-filter-field>
  <devtools-filter-field [title]="'Filter by ID'" type="value" placeholder="ID" [autocompleteValues]="(capabilityIds$ | async) ?? []"
                         (addValueFilter)="onIdFilterAdd($event)" (removeValueFilter)="onIdFilterRemove($event)"
                         [initialFilters]="idFilters">
  </devtools-filter-field>
</sci-viewport>
