<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="ID">
    <input [formControlName]="ID" class="e2e-id">
  </sci-form-field>
  <sci-form-field label="Type">
    <input [formControlName]="TYPE" class="e2e-type">
  </sci-form-field>
  <sci-form-field label="Qualifier">
    <sci-params-enter [paramsFormArray]="$any(form.get(QUALIFIER))" [addable]="true" [removable]="true" class="e2e-qualifier"></sci-params-enter>
  </sci-form-field>
  <sci-form-field label="NilQualifier if empty">
    <sci-checkbox [formControlName]="NILQUALIFIER_IF_EMPTY" class="e2e-nilqualifier-if-empty"></sci-checkbox>
  </sci-form-field>
  <sci-form-field label="Application">
    <input [formControlName]="APP_SYMBOLIC_NAME" class="e2e-app-symbolic-name">
  </sci-form-field>

  <section class="buttons">
    <button type="submit" *ngIf="!capabilities$" (click)="onLookup()" [disabled]="form.invalid" class="e2e-lookup">Lookup</button>
    <button type="submit" *ngIf="capabilities$" (click)="onLookupCancel()" class="e2e-cancel-lookup">Cancel the lookup</button>
    <button type="button" (click)="onReset()" [disabled]="form.pristine" class="e2e-reset">Reset</button>
  </section>
</form>

<sci-list class="capabilities e2e-capabilities">
  <ng-container *ngFor="let capability of capabilities$ | async">
    <ng-template sciListItem>
      <section class="capability" [attr.data-e2e-capability]="capability | json">
        <sci-qualifier-chip-list [qualifier]="capability.qualifier" [type]="capability.type"></sci-qualifier-chip-list>
        <span class="app">{{capability.metadata.appSymbolicName}}</span>
        <span class="id">{{capability.metadata.id}}</span>
        <span class="visibility">{{capability.private ? 'PRIVATE' : 'PUBLIC'}}</span>
        <button type="button" class="material-icons" title="Copy capability to clipboard" (click)="onCopyToClipboard(capability)">content_copy</button>
      </section>
    </ng-template>
  </ng-container>
</sci-list>
