<form autocomplete="off" [formGroup]="form">
  <input [formControl]="form.controls.outletName" placeholder="Enter the name of this outlet" class="outlet-name e2e-outlet-name">
  <button type="submit" class="e2e-apply" (click)="onApplyClick()" sci-primary>Apply</button>
  <button type="button" class="context-define e2e-context-define" #context_define_button title="Define the context of this outlet" (click)="onContextDefineClick()" sciMaterialIcon>input_circle</button>
  <button type="button" class="e2e-settings" #settings_button title="Settings" (click)="onSettingsClick()" sciMaterialIcon>settings</button>
</form>

<sci-router-outlet #router_outlet
                   [name]="outletName"
                   (activate)="onActivate($event)"
                   (deactivate)="onDeactivate($event)"
                   (focuswithin)="onFocusWithin($event)">
  <sci-throbber type="ellipsis" class="e2e-slotted-content"/>
</sci-router-outlet>
@if (empty$ | async) {
  <div class="empty-note e2e-empty">Router Outlet is empty</div>
}
