<header>
  <div class="title">
    @if (isPlatformHost) {
      <img class="banner" src="scion-microfrontend-platform-banner.svg" alt="SCION Microfrontend Platform">
    }
    @if (pageTitle) {
      <span class="page-title">{{pageTitle}}</span>
    }
  </div>
  <div class="actions">
    <span class="angular-change-detection-indicator" title="Indicates that Angular is currently checking the application for changes." #angular_change_detection_indicator></span>
    @if (focusMonitor.focusWithin$ | async) {
      <span class="chip focus-within e2e-focus-within" title="This document or its embedded web content has received focus">focus-within</span>
    }
    @if (focusMonitor.focus$ | async) {
      <span class="chip focus e2e-has-focus">has-focus</span>
    }
    <span class="chip app-name">{{appSymbolicName}}</span>
    <div class="separator"></div>
    @if (devToolsFormControl.enabled) {
      <label class="devtools-toggle" title="Toggle DevTools">
        <sci-toggle-button [formControl]="devToolsFormControl" [class.selected]="devToolsFormControl.value"/>
        DevTools
      </label>
    }
  </div>
</header>
<sci-sashbox [direction]="'column'">
  <ng-template sciSash size="2">
    <sci-viewport>
      <router-outlet #outlet=outlet (activate)="onRouteActivate(outlet.activatedRoute)"/>
    </sci-viewport>
  </ng-template>
  @if (devToolsFormControl.value) {
    <ng-template sciSash size="1">
      <app-devtools/>
    </ng-template>
  }
</sci-sashbox>

<!-- Captures Angular change detection cycles -->
{{onAngularChangeDetectionCycle}}
