<header>
  <div class="title">
    <img *ngIf="isPlatformHost" class="banner" src="assets/scion-microfrontend-platform-banner.svg" alt="SCION Microfrontend Platform">
    <span *ngIf="pageTitle" class="page-title">{{pageTitle}}</span>
  </div>
  <span class="chip focus-within e2e-focus-within" title="This document or its embedded web content has received focus" *ngIf="isFocusWithin">focus-within</span>
  <span class="chip app-name">{{appSymbolicName}}</span>
  <span class="chip devtools" *ngIf="isDevtoolsEnabled" (click)="onDevToolsToggle()">
    <span>DevTools</span>
    <button type="button" class="material-icons toggle" [class.enabled]="isDevToolsOpened">{{isDevToolsOpened ? 'toggle_on' : 'toggle_off'}}</button>
  </span>
</header>
<sci-sashbox [direction]="'column'">
  <ng-template sciSash size="2">
    <sci-viewport>
      <router-outlet #outlet=outlet (activate)="onRouteActivate(outlet.activatedRoute)"></router-outlet>
    </sci-viewport>
  </ng-template>
  <ng-template sciSash size="1" *ngIf="isDevToolsOpened">
    <app-devtools></app-devtools>
  </ng-template>
</sci-sashbox>
