:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;

  > header {
    flex: none;
    display: flex;
    margin-bottom: 1.5em;
    align-items: flex-start;

    > div.title {
      flex: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      > img.banner {
        height: 35px;
      }

      > span.page-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    > div.actions {
      display: flex;
      gap: .25em;
      align-items: center;
      user-select: none;

      > span.angular-change-detection-indicator {
        width: 1em;
        height: 1em;
        border: 1px solid var(--sci-color-border);
        border-radius: 50%;
        background-color: var(--sci-color-gray-100);
        margin: 0 .25em;

        &:not(.active) {
          visibility: hidden;
        }
      }

      > span.chip {
        border: 1px solid var(--sci-color-border);
        border-radius: var(--sci-corner-small);
        color: var(--sci-color-text-subtlest);
        font-size: 1.1rem;
        padding: .25em .75em;

        &.app-name {
          font-weight: bold;
        }
      }

      > div.separator {
        align-self: stretch;
        background-color: var(--sci-color-border);
        width: 1px;
        margin: 0 .5em;

        &:last-child {
          display: none;
        }
      }

      > label.devtools-toggle {
        display: flex;
        align-items: center;
        gap: .5em;
        cursor: pointer;
        color: var(--sci-color-gray-600);

        &:has(sci-toggle-button.selected) {
          color: var(--sci-color-accent);
        }
      }
    }
  }

  > sci-sashbox {
    flex: auto;

    sci-viewport {
      router-outlet {
        position: absolute; // out of the document flow
      }
    }
  }
}
