@use '@scion/components.internal' as sci-ɵcomponents;

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;

  > header {
    flex: none;
    display: flex;
    margin-bottom: 1.5em;
    align-items: flex-start;

    > *:not(:last-child) {
      margin-right: .25em;
    }

    > div.title {
      flex: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      > img.banner {
        height: 35px;
      }

      > span.page-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    > span.angular-change-detection-indicator {
      width: 1em;
      height: 1em;
      min-width: 1em;
      min-height: 1em;
      border: 1px solid var(--sci-color-primary);
      border-radius: 50%;
      background-color: var(--sci-color-P50);
      position: relative;
      top: .5em;
      margin: 0 .5em;

      &:not(.active) {
        visibility: hidden;
      }
    }

    > span.chip, > button.chip {
      flex: none;

      &.focus-within, &.focus {
        @include sci-ɵcomponents.theme-chip(var(--sci-color-accent), null, var(--sci-color-accent));
        padding: .25em .75em;
        font-size: 1.1rem;
      }

      &.app-name {
        @include sci-ɵcomponents.theme-chip(var(--sci-color-accent), var(--sci-color-A50), var(--sci-color-accent));
        padding: .25em .75em;
        font-size: 1.1rem;
        font-weight: bold;
      }

      &.devtools {
        all: unset;
        @include sci-ɵcomponents.theme-chip(var(--sci-color-accent), null, var(--sci-color-accent));
        padding: .1em 1em;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;

        > span.toggle {
          color: var(--sci-color-primary);

          &.enabled {
            color: var(--sci-color-accent);
          }
        }
      }
    }
  }

  > sci-sashbox {
    flex: auto;

    sci-viewport {
      router-outlet {
        position: absolute; // out of the document flow
      }
    }
  }
}

