:host {
  display: flex;

  > sci-list {
    flex: auto;
    --sci-list-item-padding: 0;

    devtools-app-list-item {
      outline: none;
      border-left: 5px solid transparent;

      &.active {
        border-left-color: var(--sci-color-accent);
      }
    }
  }
}
