<header>
  <span class="title">{{title()}}</span>
  @if (logicalOperator()) {
    <span class="toggle-button-group">
      <button [class.active]="logicalOperator() === OR" (click)="onLogicalOperatorClick(OR)">OR</button>
      <button [class.active]="logicalOperator() === AND" (click)="onLogicalOperatorClick(AND)">AND</button>
    </span>
  }
</header>
<div class="overlay-anchor">
  @if (showFilter()) {
    <div class="overlay add-filter" [class]="type()" cdkMonitorSubtreeFocus (cdkFocusChange)="onFocusChange($event)">
      @if (type() === 'key-value') {
        <input type="text" [formControl]="keyFormControl" (keydown.enter)="onAddFilterClick()" placeholder="Key" [attr.list]="autocompleteKeysDatalistId" #key>
      }
      <input type="text" [formControl]="valueFormControl" (keydown.enter)="onAddFilterClick()" [placeholder]="placeholder()" [attr.list]="autocompleteValuesDatalistId" #value>
      <button (click)="onAddFilterClick()" [disabled]="isAddButtonDisabled()" sci-primary>Add</button>
      <datalist [attr.id]="autocompleteKeysDatalistId">
        @for (autocompleteKey of autocompleteKeys(); track autocompleteKey) {
          <option [value]="autocompleteKey"></option>
        }
      </datalist>
      <datalist [attr.id]="autocompleteValuesDatalistId">
        @for (autocompleteValue of autocompleteValues(); track autocompleteValue) {
          <option [value]="autocompleteValue"></option>
        }
      </datalist>
    </div>
  } @else {
    <button class="add-filter" (click)="onNewFilterClick()" sciMaterialIcon>add</button>
  }
</div>
<ul class="chips">
  @for (filter of filters(); track filter) {
    <li>
      <button (click)="onRemoveFilterClick(filter)" title="Click to remove">
        <span class="key">{{filter.key}}</span>
        @if (filter.key && filter.value) {
          <span class="separator">&nbsp;:&nbsp;</span>
        }
        <span class="value">{{filter.value}}</span>
      </button>
    </li>
  }
</ul>
