@use 'sci-toolkit-styles' as sci-toolkit-styles;

:host {
  > header {
    display: flex;
    border: 1px solid var(--sci-color-A600);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .5em .5em 1.75em;
    background-color: var(--sci-color-accent);
    color: var(--sci-color-P50);

    > header {
      flex: auto;
      margin-top: 0;
      user-select: none;
      font-weight: bold;
    }

    > button {
      font-style: italic;
      font-size: smaller;
      padding: 3px 5px;
      height: 2em;
      color: white;
      border: 1px solid var(--sci-color-accent);
      background-color: var(--sci-color-accent);
      user-select: none;

      &.active {
        color: rgba(51, 51, 51, .8);
        border: 1px solid var(--sci-color-A500);
        background-color: var(--sci-color-background);
      }

      &:last-child {
        margin-left: 3px;
      }
    }
  }

  > div.filter, > div.show-filter {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-evenly;

    &.filter {
      width: 260px;
      margin: -25px 2px -25px calc(50% - 130px);
      border-radius: 2px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
      background-color: white;
      padding: .5em;

      > input {
        @include sci-toolkit-styles.input-field();
      }

      &.value {
        > input {
          width: 150px;
        }
      }

      &.key-value {
        > input {
          width: 75px;
        }
      }
    }

    &.show-filter {
      margin: -25px calc(50% - 25px);

      > button {
        padding: 8px;
        border-radius: 50%;
        color: var(--sci-color-accent);
        border: 1px solid rgba(51, 51, 51, .5);
        background-color: white;
      }
    }
  }

  > ul.chips {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid var(--sci-color-P500);
    border-right: 1px solid var(--sci-color-P500);
    border-bottom: 1px solid var(--sci-color-P500);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2.5em .5em .5em;
    margin: 0;
    min-height: 50px;

    > li {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 10px;
      padding: 5px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid var(--sci-color-P500);
      background-color: var(--sci-color-P200);
      color: var(--sci-color-P900);

      > span.key {
        font-weight: bold;
      }

      &:hover {
        position: relative;
        cursor: pointer;
        border: 1px solid var(--sci-color-P600);
        background-color: var(--sci-color-P400);
        color: var(--sci-color-P400);

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '✗';
          border-radius: 10px;
          color: var(--sci-color-P900);
          font-size: 1.25em;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}
