@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;

  > header {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--sci-color-border);
    border-top-left-radius: var(--sci-corner);
    border-top-right-radius: var(--sci-corner);
    padding: .5em .5em 1.75em;
    background-color: var(--sci-color-background-secondary);

    > span.title {
      margin-top: 0;
      user-select: none;
      font-weight: bold;
      color: var(--app-color-text-strong);
    }

    > span.toggle-button {
      display: flex;
      gap: 1px;
      border: 1px solid var(--sci-color-accent);
      border-radius: var(--sci-corner-small);
      background-color: var(--sci-color-background-input);

      > button {
        all: unset;
        font-size: smaller;
        padding: 3px 5px;
        border: none;
        color: var(--sci-color-accent);
        user-select: none;

        &.active {
          color: var(--sci-color-accent-inverse);
          background-color: var(--sci-color-accent);
          box-shadow: none;
        }
      }
    }
  }

  > div.overlay-anchor {
    height: 0;
    width: 0;
    position: relative; // positioning context for overlay
    align-self: center;
    display: grid;
    place-items: center;

    > button.add-filter {
      position: absolute;
      padding: 8px;
      border-radius: 50%;
      border: 1px solid var(--sci-color-border);
      background-color: var(--sci-color-background-elevation);
    }

    > div.overlay.add-filter {
      position: absolute;
      display: flex;
      gap: .25em;
      align-items: center;
      border-radius: var(--sci-corner-small);
      background-color: var(--sci-color-background-elevation);
      box-shadow: var(--sci-elevation) var(--sci-static-color-black);
      border: 1px solid var(--sci-color-border);
      padding: .5em;

      > input {
        @include sci-design.style-input-field();
      }

      &.value {
        > input {
          width: 150px;
        }
      }

      &.key-value {
        > input {
          width: 75px;
        }
      }
    }
  }

  > ul.chips {
    display: flex;
    gap: .25em;
    flex-wrap: wrap;
    border-left: 1px solid var(--sci-color-border);
    border-right: 1px solid var(--sci-color-border);
    border-bottom: 1px solid var(--sci-color-border);
    border-bottom-left-radius: var(--sci-corner-small);
    border-bottom-right-radius: var(--sci-corner-small);
    background-color: var(--sci-color-background-primary);
    padding: 2.5em .5em .5em;
    margin: 0;
    min-height: 50px;

    > li {
      all: unset;
      list-style: none;

      > button {
        all: unset;
        display: flex;
        border-radius: var(--sci-corner);
        padding: .25em 1em;
        border: 1px solid var(--sci-color-border);
        background-color: var(--sci-color-gray-100);
        overflow: hidden;

        > span.key {
          font-weight: bold;
          color: var(--app-color-text-strong);
        }

        &:hover {
          position: relative;
          cursor: pointer;

          &::after {
            position: absolute;
            inset: 0;
            content: 'x';
            font-size: 1.25em;
            text-align: center;
            background-color: var(--sci-color-accent);
            color: var(--sci-color-accent-inverse);
          }
        }
      }
    }
  }
}
