<header>
  <span class="title">{{title}}</span>
  <span class="toggle-button">
    <button [class.active]="logicalOperator === OR" (click)="onLogicalOperatorClick(OR)" type="button">OR</button>
    <button [class.active]="logicalOperator === AND" (click)="onLogicalOperatorClick(AND)" type="button">AND</button>
  </span>
</header>
<div class="filter" [class]="type" *ngIf="showFilter; else showFilterButton" cdkMonitorSubtreeFocus (cdkFocusChange)="onFocusChange($event)">
  <input type="text" [formControl]="keyFC" (keydown.enter)="onAddFilterClick()" *ngIf="isTypeKeyValue()" placeholder="Key" [attr.list]="autocompleteKeysDatalistId" #key>
  <input type="text" [formControl]="valueFC" (keydown.enter)="onAddFilterClick()" [placeholder]="placeholder" [attr.list]="autocompleteValuesDatalistId" #value>
  <button type="button" (click)="onAddFilterClick()" [disabled]="isAddButtonDisabled()">Add</button>
  <datalist [attr.id]="autocompleteKeysDatalistId">
    <option *ngFor="let autocompleteKey of autocompleteKeys" [value]="autocompleteKey"></option>
  </datalist>
  <datalist [attr.id]="autocompleteValuesDatalistId">
    <option *ngFor="let autocompleteValue of autocompleteValues" [value]="autocompleteValue"></option>
  </datalist>
</div>
<ng-template #showFilterButton>
  <div class="show-filter">
    <button class="material-icons" type="button" (click)="onNewFilterClick()">add</button>
  </div>
</ng-template>
<ul class="chips">
  <li *ngFor="let filter of filters" (click)="onRemoveFilterClick(filter)" title="Click to remove">
    <span class="key">{{filter.key}}</span>
    <span class="separator" *ngIf="filter.key && filter.value">&nbsp;:&nbsp;</span>
    <span class="value">{{filter.value}}</span>
  </li>
</ul>
