@if (application$ | async; as application) {
  <section class="properties">
    <span>Name:</span>
    <span>{{application.name}} ({{application.symbolicName}})</span>

    <span>URL:</span>
    <a class="app-url" [href]="application.baseUrl" target="_blank">{{application.baseUrl}}</a>

    @if (application.manifestUrl) {
      <span>Manifest:</span>
      <a [href]="application.manifestUrl" target="_blank">{{application.manifestUrl}}</a>
    }

    @if (application.platformVersion | async; as version) {
      <span>Version:</span>
      <a [href]="'https://www.npmjs.com/package/@scion/microfrontend-platform/v/' + version" target="_blank">
        &commat;scion/microfrontend-platform&commat;{{version}}
      </a>
    }

  </section>
  <sci-tabbar>
    <ng-template sciTab label="Capabilities" name="capabilities">
      @if (capabilities$ | async; as capabilities) {
        <section class="capabilities">
          <sci-filter-field #capability_filter_field [formControl]="capabilityFilterFormControl"
                            placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
          <sci-viewport>
            <sci-accordion (keydown)="capability_filter_field.focusAndApplyKeyboardEvent($event)">
              @for (capability of capabilities; track capability) {
                <ng-template sciAccordionItem [panel]="panel">
                  <devtools-capability-accordion-item [capability]="capability"/>
                </ng-template>

                <ng-template #panel>
                  <devtools-capability-accordion-panel [capability]="capability"/>
                </ng-template>
              }
            </sci-accordion>
          </sci-viewport>
        </section>
      }
    </ng-template>
    <ng-template sciTab label="Intentions" name="intentions">
      @if (intentions$ | async; as intentions) {
        <section class="intentions">
          <sci-filter-field #intention_filter_field [formControl]="intentionFilterFormControl"
                            placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
          <sci-viewport>
            <sci-accordion (keydown)="intention_filter_field.focusAndApplyKeyboardEvent($event)">
              @for (intention of intentions; track intention) {
                <ng-template sciAccordionItem [panel]="panel">
                  <devtools-intention-accordion-item [intention]="intention"/>
                </ng-template>

                <ng-template #panel>
                  <devtools-intention-accordion-panel [intention]="intention"/>
                </ng-template>
              }
            </sci-accordion>
          </sci-viewport>
        </section>
      }
    </ng-template>
    <ng-template sciTab label="Dependencies">
      <sci-sashbox class="dependencies">
        <ng-template sciSash>
          <section class="required-applications">
            <header>Required Applications</header>
            <span class="description">Lists applications on which this application depends. The required capabilities are listed for each application.</span>
            <devtools-required-capabilities [appSymbolicName]="application.symbolicName"/>
          </section>
        </ng-template>
        <ng-template sciSash>
          <section class="dependent-applications">
            <header>Dependent Applications</header>
            <span class="description">Lists applications that depend on this application. Dependent intentions are listed for each application.</span>
            <devtools-dependent-intentions [appSymbolicName]="application.symbolicName"/>
          </section>
        </ng-template>
      </sci-sashbox>
    </ng-template>
    <ng-template sciTab label="Platform Flags">
      <section class="platform-flags">
        <section class="scope-check">
          <header>Scope Check</header>
          <span class="description">
            Controls whether this application can interact with the private capabilities of other apps. Disabling scope check is strongly discouraged. By default, scope check is enabled.
          </span>
          @if (application.scopeCheckDisabled) {
            <span class="chip" title="Scope check is disabled for this application. This application can interact with private capabilities of other applications.">
            Disabled
          </span>
          } @else {
            <span class="chip default" title="Scope check is enabled for this application. This application cannot interact with private capabilities of other applications.">
              Default (enabled)
            </span>
          }
        </section>

        <section class="intent-register-api">
          <header>Intention Register API</header>
          <span class="description">
            Controls whether this application can register and unregister intentions dynamically at runtime. Enabling this API is strongly discouraged. By default, this API is disabled.
          </span>
          @if (application.intentionRegisterApiDisabled) {
            <span class="chip default" title="Intention register API is disabled for this application. This application has to declare intentions in its manifest.">
            Default (disabled)
          </span>
          } @else {
            <span class="chip" title="Intention register API is enabled for this application. This application can register intentions dynamically at runtime.">
              Enabled
            </span>
          }
        </section>

        <section class="intention-check">
          <header>Intention Check</header>
          <span class="description">
            Controls whether this application can interact with the capabilities of other apps without having to declare respective intentions. Disabling intention check is strongly discouraged. By default, intention check is enabled.
          </span>
          @if (application.intentionCheckDisabled) {
            <span class="chip" title="Intention check is disabled for this application. This application can issue intents for which it has not declared any intention.">
            Disabled
          </span>
          } @else {
            <span class="chip default" title="Intention check is enabled for this application. This application can only issue intents for which it has declared an intention in its manifest.">
              Default (enabled)
            </span>
          }
        </section>
      </section>
    </ng-template>
  </sci-tabbar>
}
