@if (application$ | async; as application) {
  <section class="properties">
    <span>Name:</span>
    <span>{{application.name}} ({{application.symbolicName}})</span>

    <span>URL:</span>
    <a class="app-url" [href]="application.baseUrl" target="_blank">{{application.baseUrl}}</a>

    @if (application.manifestUrl) {
      <span>Manifest:</span>
      <a [href]="application.manifestUrl" target="_blank">{{application.manifestUrl}}</a>
    }

    @if (application.platformVersion | async; as version) {
      <span>Version:</span>
      <a [href]="'https://www.npmjs.com/package/@scion/microfrontend-platform/v/' + version" target="_blank">
        &commat;scion/microfrontend-platform&commat;{{version}}
      </a>
    }

  </section>
  <sci-tabbar>
    <ng-template sciTab label="Capabilities" name="capabilities">
      @if (capabilities$ | async; as capabilities) {
        <section class="capabilities">
          <sci-filter-field #capability_filter_field [formControl]="capabilityFilterFormControl"
                            placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
          <sci-viewport>
            <sci-accordion (keydown)="capability_filter_field.focusAndApplyKeyboardEvent($event)">
              @for (capability of capabilities; track capability) {
                <ng-template sciAccordionItem [panel]="panel">
                  <devtools-capability-accordion-item [capability]="capability"/>
                </ng-template>

                <ng-template #panel>
                  <devtools-capability-accordion-panel [capability]="capability"/>
                </ng-template>
              }
            </sci-accordion>
          </sci-viewport>
        </section>
      }
    </ng-template>
    <ng-template sciTab label="Intentions" name="intentions">
      @if (intentions$ | async; as intentions) {
        <section class="intentions">
          <sci-filter-field #intention_filter_field [formControl]="intentionFilterFormControl"
                            placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
          <sci-viewport>
            <sci-accordion (keydown)="intention_filter_field.focusAndApplyKeyboardEvent($event)">
              @for (intention of intentions; track intention) {
                <ng-template sciAccordionItem [panel]="panel">
                  <devtools-intention-accordion-item [intention]="intention"/>
                </ng-template>

                <ng-template #panel>
                  <devtools-intention-accordion-panel [intention]="intention"/>
                </ng-template>
              }
            </sci-accordion>
          </sci-viewport>
        </section>
      }
    </ng-template>
    <ng-template sciTab label="Dependencies">
      <sci-sashbox class="dependencies">
        <ng-template sciSash>
          <section class="required-applications">
            <header>Required Applications</header>
            <span class="description">Lists applications on which this application depends. The required capabilities are listed for each application.</span>
            <devtools-required-capabilities [appSymbolicName]="application.symbolicName"/>
          </section>
        </ng-template>
        <ng-template sciSash>
          <section class="dependent-applications">
            <header>Dependent Applications</header>
            <span class="description">Lists applications that depend on this application. Dependent intentions are listed for each application.</span>
            <devtools-dependent-intentions [appSymbolicName]="application.symbolicName"/>
          </section>
        </ng-template>
      </sci-sashbox>
    </ng-template>
    <ng-template sciTab label="Platform Flags">
      <section class="platform-flags">
        <section class="scope-check">
          <header>Scope Check</header>
          <span class="description">
            Indicates whether this application is allowed to access private capabilities of other applications. Disabling this check is discouraged. Enabled by default.
          </span>
          @if (application.scopeCheckDisabled) {
            <span class="chip" title="WARNING: Scope Check is disabled for this application. This application can access private capabilities of other applications.">
            Disabled
          </span>
          } @else {
            <span class="chip default" title="Scope Check is enabled for this application. This application cannot access private capabilities of other applications.">
              Default (enabled)
            </span>
          }
        </section>

        <section class="intention-check">
          <header>Intention Check</header>
          <span class="description">
            Indicates whether this application is allowed to access public capabilities of other applications without declaring an intention. Disabling this check is discouraged. Enabled by default.
          </span>
          @if (application.intentionCheckDisabled) {
            <span class="chip" title="WARNING: Intention Check is disabled for this application. This application can access public capabilities of other applications without declaring an intention.">
            Disabled
          </span>
          } @else {
            <span class="chip default" title="Intention Check is enabled for this application. This application can access public capabilities of other applications only if declaring an intention.">
              Default (enabled)
            </span>
          }
        </section>

        <section class="intention-check">
          <header>Capability Active Check</header>
          <span class="description">
            Indicates whether this application is allowed to access inactive capabilities. Disabling this check is discouraged. Enabled by default.
          </span>
          @if (application.capabilityActiveCheckDisabled) {
            <span class="chip" title="WARNING: Capability Active Check is disabled for this application. This application can access inactive capabilities.">
            Disabled
          </span>
          } @else {
            <span class="chip default" title="Capability Active Check is enabled for this application. This application cannot access inactive capabilities.">
              Default (enabled)
            </span>
          }
        </section>

        <section class="intent-register-api">
          <header>Intention Register API</header>
          <span class="description">
            Indicates whether this application is allowed to register and unregister intentions at runtime. Enabling this API is discouraged. Disabled by default.
          </span>
          @if (application.intentionRegisterApiDisabled) {
            <span class="chip default" title="Intention Register API is disabled for this application. This application cannot register intentions at runtime, only in its manifest.">
            Default (disabled)
          </span>
          } @else {
            <span class="chip" title="Intention Register API is enabled for this application. This application can register intentions at runtime.">
              Enabled
            </span>
          }
        </section>
      </section>
    </ng-template>
  </sci-tabbar>
}
