@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  gap: .5em;

  > section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    padding: 1em;

    > *:not(:last-child):not(h2) {
      margin-bottom: .25em;
    }

    > input {
      @include sci-design.style-input-field();
    }

    > h2 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: .5em;
    }
  }

  > section.focusable-element {
    border: 1px dashed var(--sci-color-border);
    border-radius: var(--sci-corner-small);
    color: var(--sci-color-text-subtlest);
    padding: 1em;
    user-select: none;
  }
}
