@use '@scion/components.internal' as sci-ɵcomponents;

:host {
  display: flex;
  flex-direction: column;
  gap: .5em;

  > section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sci-color-P300);
    border-radius: 3px;
    padding: 1em;

    > *:not(:last-child):not(h2) {
      margin-bottom: .25em;
    }

    > input {
      @include sci-ɵcomponents.theme-input-field();
    }

    > h2 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: .5em;
    }
  }

  > section.focusable-element {
    border: 1px dashed var(--sci-color-P400);
    color: var(--sci-color-P500);
    padding: 1em;
    user-select: none;
  }
}
