<span class="app-name">{{application().name}}</span>
<span class="app-symbolic-name" title="Symbolic Name">{{application().symbolicName}}</span>
<a [href]="application().baseUrl" target="_blank">{{application().baseUrl}}</a>

<section class="chips">
  <!-- Capabilities -->
  @if (capabilityCount()) {
    <a class="chip"
       (click)="onCapabilitiesClick($event)"
       href="">
      {{capabilityCount()}} {{capabilityCount() === 1 ? 'capability' : 'capabilities'}}
    </a>
  }

  <!-- Intentions -->
  @if (intentionCount()) {
    <a class="chip"
       (click)="onIntentionsClick($event)"
       href="">
      {{intentionCount()}} {{intentionCount() === 1 ? 'intention' : 'intentions'}}
    </a>
  }

  <!-- Platform Version -->
  @if (application().platformVersion | async; as version) {
    <a class="chip version"
       [href]="'https://www.npmjs.com/package/@scion/microfrontend-platform/v/' + version"
       [title]="'@scion/microfrontend-platform@' + version"
       target="_blank">
      v{{version}}
    </a>
  }
</section>

<span class="action-indicator" sciMaterialIcon>
  keyboard_arrow_right
</span>
