<span class="app-name">{{application.name}}</span>
<span class="app-symbolic-name" title="symbolic name">{{application.symbolicName}}</span>
<a [href]="application.baseUrl" target="_blank">{{application.baseUrl}}</a>

<div class="chips">
  <span class="chip" *ngIf="capabilityCount$ | async as capabilityCount">{{capabilityCount}} {{capabilityCount === 1 ? 'capability' : 'capabilities'}}</span>
  <span class="chip" *ngIf="intentionCount$ | async as intentionCount">{{intentionCount}} {{intentionCount === 1 ? 'intention' : 'intentions'}}</span>
</div>
