<sci-filter-field [formControl]="filterFormControl" placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
<sci-accordion>
  @for (capabilitiesByApp of capabilitiesByApp() | keyvalue; track capabilitiesByApp.key) {
    <ng-template sciAccordionItem [panel]="panel" [key]="capabilitiesByApp.key">
      <header>
        {{capabilitiesByApp.key | devtoolsAppName}}
        <button class="open-app" (click)="onOpenAppClick($event, capabilitiesByApp.key)" title="Navigate to details of {{capabilitiesByApp.key | devtoolsAppName}}." sciMaterialIcon>exit_to_app</button>
      </header>
    </ng-template>

    <ng-template #panel>
      @let selectedCapability = this.selectedCapability();
      <section class="panel">
        <section class="capability-list">
          @for (capability of capabilitiesByApp.value; track capability.metadata!.id) {
            <sci-qualifier-chip-list [class.selected]="capability === selectedCapability"
                                     [type]="capability.type" [qualifier]="capability.qualifier"
                                     (click)="onCapabilityClick(capability)"/>
          }
        </section>
        @if (selectedCapability) {
          <section class="capability-details">
            @if (selectedCapability.description) {
              <section class="description">
                <span>{{selectedCapability.description}}</span>
              </section>
            }
            @if (selectedCapability.params | devtoolsParamsFilter:'required' | devtoolsNullIfEmpty; as requiredParams) {
              <section class="required-params">
                <header>Required Params:</header>
                {{requiredParams | devtoolsJoin:', ':paramNameFn}}
              </section>
            }
            @if (selectedCapability.params | devtoolsParamsFilter:'optional' | devtoolsNullIfEmpty; as optionalParams) {
              <section class="optional-params">
                <header>Optional Params:</header>
                {{optionalParams | devtoolsJoin:', ':paramNameFn}}
              </section>
            }
            @if (selectedCapability.properties | devtoolsNullIfEmpty) {
              <section class="properties">
                <header>Properties:</header>
                <sci-key-value [object]="selectedCapability.properties ?? {}"/>
              </section>
            }
          </section>
        }
      </section>
    </ng-template>
  }
</sci-accordion>
