:host {
  display: flex;
  flex-direction: column;

  > sci-filter-field {
    margin-bottom: .5em;
  }

  > sci-accordion {
    flex: auto;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    section.panel {
      display: flex;
      overflow: hidden;

      > section.capability-list {
        display: flex;
        flex-direction: column;

        > sci-qualifier-chip-list {
          cursor: pointer;
          --sci-qualifier-chip-list-type-background-color: var(--app-accordion-panel-chip-primary-background-color);
          --sci-qualifier-chip-list-qualifier-background-color: var(--app-accordion-panel-chip-secondary-background-color);

          &:not(:last-child) {
            margin-bottom: .5em;
          }

          &.selected {
            --sci-color-border: var(--sci-color-accent);
            --sci-color-text: var(--sci-color-accent);
            --sci-color-text-subtle: var(--sci-color-accent);
            --sci-color-text-subtlest: var(--sci-color-accent);
          }
        }
      }

      > section.capability-details {
        flex: auto;
        margin-left: .5em;
        padding-left: .5em;
        min-width: 180px;

        > section {
          border: 1px solid var(--sci-color-border);
          border-radius: var(--sci-corner);
          padding: 1em;
          background-color: var(--app-accordion-panel-container-background-color);
          font-size: 12px;

          > header {
            font-size: 1.1em;
            margin-top: 0;
            margin-bottom: 1em;
            font-weight: bold;
            color: var(--app-color-text-strong);
          }

          &:not(:first-child) {
            margin-top: .5em;
          }
        }
      }
    }
  }
}
