<sci-filter-field (filter)="onFilterChange($event)" placeholder="You can filter capabilities by type and qualifier. Enter one or more search terms separated by space."></sci-filter-field>
<sci-accordion>
  <ng-container *ngFor="let app of applications; trackBy: trackByApplicationFn">
    <ng-template sciAccordionItem [panel]="panel" [key]="app.symbolicName">
      <header (click)="onAccordionItemClick()">
        <strong class="app-name">{{app.name}}</strong>
        <span class="material-icons" (click)="onOpenAppClick($event, app.symbolicName)" title="Navigate to details of {{app.name}}.">exit_to_app</span>
      </header>
    </ng-template>

    <ng-template #panel>
      <section class="panel">
        <section class="capability-list">
          <devtools-qualifier-chip-list *ngFor="let capability of capabilities(app); trackBy: trackByCapabilityFn" [class.active]="capability === selectedCapability"
                                        [type]="capability.type" [qualifier]="capability.qualifier" [size]="'small'" (click)="onClick(capability)">
          </devtools-qualifier-chip-list>
        </section>
        <section *ngIf="selectedCapability" class="capability-details">
          <section class="description" *ngIf="selectedCapability.description">
            <span>{{selectedCapability.description}}</span>
          </section>

          <section class="required-params" *ngIf="selectedCapability.requiredParams && selectedCapability.requiredParams.length">
            <header>Required Params:</header>
            {{selectedCapability.requiredParams.join(', ')}}
          </section>

          <section class="optional-params" *ngIf="selectedCapability.optionalParams && selectedCapability.optionalParams.length">
            <header>Optional Params:</header>
            {{selectedCapability.optionalParams.join(', ')}}
          </section>

          <section class="properties" *ngIf="selectedCapability.properties">
            <header>Properties:</header>
            <sci-property [properties]="selectedCapability.properties"></sci-property>
          </section>
        </section>
      </section>
    </ng-template>
  </ng-container>
</sci-accordion>
