<sci-filter-field [formControl]="filterFormControl" placeholder="Filter by type and qualifier, with multiple filter terms separated by space."></sci-filter-field>
<sci-accordion>
  <ng-container *ngFor="let capabilitiesByApp of capabilitiesByApp$ | async | keyvalue; trackBy: trackByApplicationFn">
    <ng-template sciAccordionItem [panel]="panel" [key]="capabilitiesByApp.key">
      <header>
        <strong class="app-name">{{capabilitiesByApp.key | devtoolsAppName}}</strong>
        <button class="material-icons" (click)="onOpenAppClick($event, capabilitiesByApp.key)" title="Navigate to details of {{capabilitiesByApp.key | devtoolsAppName}}.">exit_to_app</button>
      </header>
    </ng-template>

    <ng-template #panel>
      <section class="panel">
        <section class="capability-list">
          <devtools-qualifier-chip-list *ngFor="let capability of capabilitiesByApp.value; trackBy: trackByCapabilityFn"
                                        [class.active]="capability === selectedCapability"
                                        [type]="capability.type" [qualifier]="capability.qualifier"
                                        [size]="'small'"
                                        (click)="onCapabilityClick(capability)">
          </devtools-qualifier-chip-list>
        </section>
        <section *ngIf="selectedCapability" class="capability-details">
          <section class="description" *ngIf="selectedCapability.description">
            <span>{{selectedCapability.description}}</span>
          </section>

          <section class="required-params" *ngIf="selectedCapability.params | devtoolsParamsFilter:'required' | devtoolsNullIfEmpty as requiredParams ">
            <header>Required Params:</header>
            {{requiredParams | devtoolsJoin:', ':paramNameFn}}
          </section>

          <section class="optional-params" *ngIf="selectedCapability.params | devtoolsParamsFilter:'optional' | devtoolsNullIfEmpty as optionalParams">
            <header>Optional Params:</header>
            {{optionalParams | devtoolsJoin:', ':paramNameFn}}
          </section>

          <section class="properties" *ngIf="selectedCapability.properties | devtoolsNullIfEmpty">
            <header>Properties:</header>
            <sci-property [properties]="selectedCapability.properties ?? {}"></sci-property>
          </section>
        </section>
      </section>
    </ng-template>
  </ng-container>
</sci-accordion>
