:host {
  display: block;
  border: 1px solid var(--sci-color-border);
  border-radius: var(--sci-corner);
  padding: 1em;
  background-color: var(--app-accordion-panel-container-background-color);
  font-size: 12px;

  > header {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--app-color-text-strong);
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: .25em;

      > a.self {
        pointer-events: none;
        color: var(--sci-color-text-subtlest);
      }
    }
  }
}
