<sci-filter-field [formControl]="filterFormControl" placeholder="Filter by type and qualifier, with multiple filter terms separated by space."/>
<sci-accordion>
  @for (intentionsByApp of intentionsByApp$ | async | keyvalue; track intentionsByApp.key) {
    <ng-template sciAccordionItem [panel]="panel" [key]="intentionsByApp.key">
      <header>
        {{intentionsByApp.key | devtoolsAppName}}
        <button (click)="onOpenAppClick($event, intentionsByApp.key)" title="Navigate to details of {{intentionsByApp.key | devtoolsAppName}}." sciMaterialIcon>exit_to_app</button>
      </header>
    </ng-template>
    <ng-template #panel>
      @for (intention of intentionsByApp.value; track intention.metadata!.id) {
        <sci-qualifier-chip-list [type]="intention.type" [qualifier]="intention.qualifier"/>
      }
    </ng-template>
  }
</sci-accordion>
