:host {
  display: flex;
  flex-direction: column;

  > sci-filter-field {
    margin-bottom: .5em;
  }

  > sci-accordion {
    flex: auto;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: var(--sci-color-A900);
    }

    devtools-qualifier-chip-list:not(:last-child) {
      margin-bottom: .5em;
    }
  }
}
