:host {
  display: flex;
  flex-direction: column;

  > sci-filter-field {
    margin-bottom: .5em;
  }

  > sci-accordion {
    flex: auto;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    sci-qualifier-chip-list {
      --sci-qualifier-chip-list-type-background-color: var(--app-accordion-panel-chip-primary-background-color);
      --sci-qualifier-chip-list-qualifier-background-color: var(--app-accordion-panel-chip-secondary-background-color);

      &:not(:last-child) {
        margin-bottom: .5em;
      }
    }
  }
}
