@use 'sci-toolkit-styles' as sci-toolkit-styles;

:host {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    > li {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.app-symbolic-name {
        @include sci-toolkit-styles.chip(var(--sci-color-P600), var(--sci-color-P600), var(--sci-color-P900));
        justify-content: center;
        padding: .25em 1.25em;

        > span.app-symbolic-name {
          font-size: 1.5em;
          font-variant: all-small-caps;
          font-weight: bold;
          color: var(--sci-color-P50);
          padding-left: 1em;
          padding-right: 1em;
        }
      }

      &.type {
        @include sci-toolkit-styles.chip(var(--sci-color-P500), var(--sci-color-P200), var(--sci-color-P900));
        padding: .25em 1.25em;

        > span.type {
          font-size: 1.5em;
          font-variant: all-small-caps;
          font-weight: bold;
          color: var(--sci-color-P900);
        }
      }

      &.qualifier {
        @include sci-toolkit-styles.chip(var(--sci-color-P500), #FFFFFF, var(--sci-color-P900));
        padding: .25em 1.25em;

        > span.key {
          color: var(--sci-color-P700);
        }

        > span.value {
          font-size: larger;
          font-weight: bold;
          color: var(--sci-color-P900);
        }
      }
    }
  }

  &.normal {
    > ul {
      > li {
        &::before {
          display: block;
          font-size: smaller;
          margin-bottom: .75em;
        }

        &.app-symbolic-name {
          min-width: 75px;
        }

        &.type {
          min-width: 75px;

          &::before {
            content: '«type»';
            color: var(--sci-color-P600);
          }
        }

        &.qualifier {
          padding: .25em 1em;

          &::before {
            content: '«qualifier»';
            color: var(--sci-color-P500);
          }
        }
      }
    }

    &.active {
      > ul {
        > li {
          &::before {
            color: var(--sci-color-A500);
          }
        }
      }
    }
  }

  &.active {
    > ul {
      > li {
        border-color: var(--sci-color-A700);

        &.app-symbolic-name {
          background-color: var(--sci-color-A200);

          > span.app-symbolic-name {
            color: var(--sci-color-A900);
          }
        }

        &.type {
          background-color: var(--sci-color-A50);

          > span.type {
            color: var(--sci-color-A700);
          }
        }

        &.qualifier {
          > span.key {
            color: var(--sci-color-A500);
          }

          > span.value {
            color: var(--sci-color-A700);
          }
        }
      }
    }
  }
}
