:host {
  display: flex;
  flex-direction: column;
  gap: .5em;

  > div.angular-change-detection-indicator {
    border: 1px dashed var(--sci-color-border);
    border-radius: var(--sci-corner-small);
    color: var(--sci-color-text-subtlest);
    padding: 1em;
    text-align: center;

    &.active {
      background-color: var(--sci-color-background-positive);
      border-color: var(--sci-color-positive);
      color: var(--sci-color-positive);
    }
  }

  > div.element {
    flex: none;
    border: 1px dashed var(--sci-color-border);
    border-radius: var(--sci-corner-small);
    color: var(--sci-color-text-subtlest);
    padding: 1em;
    user-select: none;
    text-align: center;
  }

  > label {
    display: flex;
    gap: .75em;
    align-items: center;
    user-select: none;
  }

  > textarea.angular-change-detection-cycles {
    flex: auto;
  }
}
