<sci-tabbar>
  <ng-template sciTab label="General">
    <section class="tab general">
      @if (capability.description) {
        <span class="description">{{capability.description}}</span>
      }
      <span class="label">Provider:</span><a [routerLink]="['/apps', {outlets: {details: [capability.metadata!.appSymbolicName]}}]">{{capability.metadata!.appSymbolicName | devtoolsAppName}} ({{capability.metadata!.appSymbolicName}})</a>
      <span class="label">ID:</span><span>{{capability.metadata!.id}}</span>
    </section>
  </ng-template>
  @if (capability.properties) {
    <ng-template sciTab label="Properties">
      <section class="tab properties">
        <span class="explanation">Metadata associated with this capability.</span>
        <sci-key-value [object]="capability.properties"/>
      </section>
    </ng-template>
  }
  @if (capability.params?.length) {
    <ng-template sciTab label="Parameters">
      <section class="tab params">
        <span class="explanation">Parameters to be passed when interacting with this capability via an intent.</span>
        @for (param of capability.params; track param) {
          <header>
            <span class="name" [class.deprecated]="param.deprecated">{{param.name}}</span>
            @if (param.required) {
              <span class="required">Required</span>
            }
          </header>
          @if (param.description) {
            <span class="label">Description:</span>
            <span class="description">{{param.description}}</span>
          }
          <ng-container>
            <span class="label">Required:</span>
            <span class="description">{{param.required}}</span>
          </ng-container>
          @if (param.deprecated; as deprecation) {
            <span class="label">Deprecated:</span>
            @if (deprecation === true) {
              <span class="deprecation">true</span>
            }
            @if (deprecation !== true && deprecation.message) {
              <span class="deprecation-message"><span>{{deprecation.message}}</span></span>
            }
            @if (deprecation !== true && deprecation.useInstead) {
              <span class="deprecation-use-instead">Use instead: <span>{{deprecation.useInstead}}</span></span>
            }
          }
          @if (param | devtoolsCustomParamMetadata; as metadata) {
            <span class="label">Metadata:</span>
            <span class="metadata">{{metadata | json}}</span>
          }
        }
      </section>
    </ng-template>
  }
  <ng-template sciTab label="Dependent Applications">
    <section class="tab dependent-applications">
      <span class="explanation">Applications that depend on this capability at runtime.</span>
      <ul>
        @for (application of applications$ | async; track application.symbolicName) {
          <li>
            <a (click)="onConsumerClick(application)" href=""
               [class.self]="application.symbolicName === capability.metadata!.appSymbolicName">
              {{application.name}} ({{application.symbolicName}})
            </a>
          </li>
        }
      </ul>
    </section>
  </ng-template>
</sci-tabbar>
