$menu-width: 350px;

:host {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  > sci-viewport {
    width: $menu-width;
    background-color: var(--sci-color-background-elevation);
    box-shadow: var(--sci-elevation) var(--sci-static-color-black);
    border-right: 1px solid var(--sci-color-border);
    box-sizing: content-box;

    &::part(content) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > nav {
      display: flex;
      flex-direction: column;
      width: $menu-width; // prevent content from shifting during animation

      > a {
        all: unset;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em .5em;
        cursor: pointer;

        &.active {
          background-color: var(--sci-color-accent);
          color: var(--sci-color-accent-inverse);
        }

        &:hover:not(.active) {
          background-color: var(--sci-color-background-elevation-hover);
        }

        > span.icon {
          font-size: 3em;
          margin-left: .25em;
          margin-right: .25em;
          transition-timing-function: ease;
          transition-duration: 150ms;
          transition-property: transform;
        }

        > section {
          flex: auto;

          > header {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: .5em;
          }

          > span.description {
            font-style: italic;
          }
        }
      }
    }

    > section.about {
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 1em;
      background-color: var(--sci-color-background-secondary);
      border-top: 1px solid var(--sci-color-border);

      > img.logo {
        width: 42px;
        font-size: 3em;
        margin-left: .25em;
        margin-right: .25em;
      }

      > ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;

        > li > a {
          color: var(--sci-color-text);
          line-height: 1.5;
        }
      }
    }
  }
}
