<sci-viewport @openCloseMenu>
  <nav>
    <a [routerLink]="['/apps']"
       routerLinkActive="active"
       (click)="onMenuItemClick($event)"
       href="">
      <span class="icon" sciMaterialIcon>apps</span>
      <section>
        <header>Applications</header>
        <span class="description">Browse registered micro applications.</span>
      </section>
    </a>
    <a [routerLink]="['/find-capabilities', {outlets: {details: ['filter-results']}}]"
       routerLinkActive="active"
       (click)="onMenuItemClick($event)">
      <span class="icon" sciMaterialIcon>extension</span>
      <section>
        <header>Capability Browser</header>
        <span class="description">Browse registered capabilities.</span>
      </section>
    </a>
  </nav>

  <section class="about">
    <img src="assets/scion-microfrontend-platform-logo.svg" alt="SCION Microfrontend Platform" class="logo">

    <ul>
      <li><a href="https://scion-microfrontend-platform-developer-guide.vercel.app/" target="_blank" rel="noopener noreferrer">Developer Guide</a></li>
      <li><a href="https://scion-microfrontend-platform-api.vercel.app/" target="_blank" rel="noopener noreferrer">API Documentation</a></li>
      <li><a href="https://github.com/SchweizerischeBundesbahnen/scion-microfrontend-platform/issues" target="_blank" rel="noopener noreferrer">Report an Issue</a></li>
      <li><a href="https://github.com/SchweizerischeBundesbahnen/scion-microfrontend-platform/blob/master/docs/site/getting-started/getting-started.md" target="_blank" rel="noopener noreferrer">Getting Started</a></li>
      <li><a href="https://github.com/SchweizerischeBundesbahnen/scion-microfrontend-platform" target="_blank" rel="noopener noreferrer">Visit us on GitHub</a></li>
    </ul>
  </section>

</sci-viewport>

