@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--sci-color-background-elevation);
  border: 1px solid var(--sci-color-border);
  border-radius: var(--sci-corner);
  box-shadow: var(--sci-elevation) var(--sci-static-color-black);

  > header {
    flex: none;
    display: flex;
    padding: .5em 1em .5em 1em;
    height: 100px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--sci-color-accent);
    color: var(--sci-color-accent-inverse);
    border-top-left-radius: var(--sci-corner);
    border-top-right-radius: var(--sci-corner);

    > h1 {
      font-size: 1.2em;
      font-weight: normal;
    }

    > button.close {
      &:hover, &:active, &:focus {
        color: inherit;
      }
    }
  }

  > main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 0 1em 1em 1em;
    width: 32em;

    > div.overlay-anchor {
      height: 0;
      width: 0;
      position: relative; // positioning context for overlay
      align-self: center;
      display: grid;
      place-items: center;

      > section.overlay.new-context-entry {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: var(--sci-color-background-elevation);
        border: 1px solid var(--sci-color-border);
        border-radius: var(--sci-corner-small);
        box-shadow: var(--sci-elevation) var(--sci-static-color-black);
        width: 30em;

        > header {
          flex: none;
          font-weight: bold;
          margin-bottom: .75em;
        }

        > form {
          flex: none;
          display: flex;
          gap: .25em;

          > input {
            @include sci-design.style-input-field();

            &.name {
              flex: none;
              width: 100px;
            }

            &.value {
              flex: auto;
            }
          }

          > button.add {
            flex: none;
          }
        }
      }
    }

    > sci-list.context {
      flex: auto;
    }
  }
}
