<section class="register e2e-register">
  <header>Register a capability</header>
  <form autocomplete="off" [formGroup]="registerForm">
    <sci-form-field label="Type *" direction="column">
      <input [formControl]="registerForm.controls.type" class="e2e-type">
    </sci-form-field>
    <sci-form-field label="Qualifier" direction="column">
      <sci-key-value-field [keyValueFormArray]="registerForm.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"></sci-key-value-field>
    </sci-form-field>
    <sci-form-field label="Params" direction="column">
      <input [formControl]="registerForm.controls.params" class="e2e-params" placeholder="JSON Array, e.g., {{paramsPlaceholder | json}}">
    </sci-form-field>
    <sci-form-field label="Private" direction="column">
      <sci-checkbox [formControl]="registerForm.controls.private" class="e2e-private"></sci-checkbox>
    </sci-form-field>
    <sci-form-field label="Properties" direction="column">
      <sci-key-value-field [keyValueFormArray]="registerForm.controls.properties" [addable]="true" [removable]="true" class="e2e-properties"></sci-key-value-field>
    </sci-form-field>
    <button type="submit" (click)="onRegister()" [disabled]="registerForm.invalid" class="e2e-register" sci-primary>Register</button>
  </form>

  <output class="error e2e-register-error" *ngIf="registerError">
    {{registerError}}
  </output>
  <output class="response e2e-register-response" *ngIf="registerResponse">
    Capability ID: <span class="e2e-capability-id">{{registerResponse}}</span>
  </output>
</section>

<section class="unregister e2e-unregister">
  <header>Unregister capability(-ies)</header>
  <form autocomplete="off" [formGroup]="unregisterForm">
    <sci-form-field label="ID" direction="column">
      <input [formControl]="unregisterForm.controls.id" class="e2e-id">
    </sci-form-field>
    <sci-form-field label="Type" direction="column">
      <input [formControl]="unregisterForm.controls.type" class="e2e-type">
    </sci-form-field>
    <sci-form-field label="Qualifier" direction="column">
      <sci-key-value-field [keyValueFormArray]="unregisterForm.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"></sci-key-value-field>
    </sci-form-field>
    <sci-form-field label="NilQualifier if empty" direction="column">
      <sci-checkbox [formControl]="unregisterForm.controls.nilqualifierIfEmpty" class="e2e-nilqualifier-if-empty"></sci-checkbox>
    </sci-form-field>
    <sci-form-field label="Application" direction="column">
      <input [formControl]="unregisterForm.controls.appSymbolicName" class="e2e-app-symbolic-name">
    </sci-form-field>
    <button type="submit" (click)="onUnregister()" [disabled]="unregisterForm.invalid" class="e2e-unregister" sci-primary>Unregister</button>
  </form>

  <output class="error e2e-unregister-error" *ngIf="unregisterError">
    {{unregisterError}}
  </output>
  <output class="response e2e-unregister-response" *ngIf="unregisterResponse">
    {{unregisterResponse}}
  </output>
</section>

<sci-list class="capabilities">
  <ng-container *ngFor="let capability of capabilities$ | async">
    <ng-template sciListItem>
      <section class="capability">
        <sci-qualifier-chip-list [qualifier]="capability.qualifier" [type]="capability.type"></sci-qualifier-chip-list>
        <span class="app">{{capability.metadata!.appSymbolicName}}</span>
        <span class="id">{{capability.metadata!.id}}</span>
        <span class="visibility">{{capability.private ? 'PRIVATE' : 'PUBLIC'}}</span>
      </section>
    </ng-template>
  </ng-container>
</sci-list>
