@use '@angular/cdk';
@use '@scion/components' with (
  $themes: (
    scion-light: (
      // Use as the text color for bold texts
      --app-color-text-strong: var(--sci-color-text),
      // Use as the background color for primary chips displayed on an accordion panel (e.g., type chip in qualifier list)
      --app-accordion-panel-chip-primary-background-color: color-mix(in srgb, transparent 95%, var(--sci-static-color-black)),
      // Use as the background color for secondary chips displayed on an accordion panel (e.g., qualifier chip in qualifier list)
      --app-accordion-panel-chip-secondary-background-color: var(--sci-color-background-primary),
      // Use as the background color for a container displayed on an accordion panel
      --app-accordion-panel-container-background-color: var(--sci-color-background-primary),
    ),
    scion-dark: (
      // Use as the text color for bold texts
      --app-color-text-strong: var(--sci-color-gray-800),
      // Use as the background color for primary chips displayed on an accordion panel (e.g., type chip in qualifier list)
      --app-accordion-panel-chip-primary-background-color: color-mix(in srgb, transparent 50%, var(--sci-color-background-primary)),
      // Use as the background color for secondary chips displayed on an accordion panel (e.g., qualifier chip in qualifier list)
      --app-accordion-panel-chip-secondary-background-color: color-mix(in srgb, transparent 25%, var(--sci-color-background-primary)),
      // Use as the background color for a container displayed on an accordion panel
      --app-accordion-panel-container-background-color: color-mix(in srgb, transparent 25%, var(--sci-color-background-primary)),
    )
  )
);
@use '@scion/components.internal/design' as sci-design;

@import url('https://fonts.googleapis.com/css?family=Roboto:normal,bold,italic,bolditalic|Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

html {
  font-size: 14px; // defines 1rem as 14px
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  font-family: Roboto, Arial, sans-serif;
  color: var(--sci-color-text);
  background-color: unset; // Do not set background color to inherit it from the embedding context.
  width: 100vw;
  height: 100vh;
  margin: 0;

  > devtools-root section.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    > header {
      margin: .5em 0;
      font-size: 1.5em;
      font-weight: bold;
      color: var(--app-color-text-strong);
    }

    > img.logo {
      width: 300px;
      margin: 10em;
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  @include sci-design.style-link();
}

button[class*="material-icons"], button[class*="material-symbols"] {
  @include sci-design.style-mat-icon-button();
}

button:not([class*="material-icons"]):not([class*="material-symbols"]) {
  @include sci-design.style-button();
}

// Install Angular CDK styles
@include cdk.a11y-visually-hidden();
@include cdk.overlay();
