@use '@scion/components.internal/design' as sci-design;

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1em;

  > section.register, > section.unregister {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: .5em;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    padding: 1em;

    > header {
      font-weight: bold;
      margin-bottom: 1em;
    }

    > form {
      display: grid;
      grid-auto-rows: min-content;
      row-gap: .5em;

      > button[type="submit"] {
        margin-top: 1em;
      }
    }

    > output.error {
      border: 1px solid var(--sci-color-negative);
      background-color: var(--sci-color-background-negative);
      color: var(--sci-color-negative);
      border-radius: var(--sci-corner);
      padding: 1em;
      font-family: monospace;
    }

    > output.response {
      border: 1px solid var(--sci-color-positive);
      background-color: var(--sci-color-background-positive);
      color: var(--sci-color-positive);
      border-radius: var(--sci-corner);
      padding: 1em;
      font-family: monospace;
    }
  }

  > sci-list.intentions {
    min-height: 300px;
    grid-column: 1/-1;

    section.intention {
      display: flex;
      justify-content: space-between;

      > sci-qualifier-chip-list {
        flex: auto;
      }

      > span.id, > span.visibility, > span.app {
        flex: none;
        align-self: flex-start;
        font-weight: bold;
        @include sci-design.style-chip(var(--sci-color-accent), null, var(--sci-color-accent));
        user-select: text;
      }

      > span.visibility {
        user-select: none;
      }
    }
  }
}
