@use '@scion/components.internal' as sci-ɵcomponents;

@mixin response-panel($backgroundColor) {
  border: 1px solid rgb($backgroundColor);
  background-color: #{rgba($backgroundColor, .2)};
  border-radius: 3px;
  margin: 1em 0;
  padding: 1em;
}

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1em;

  > section.register, > section.unregister {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: .5em;
    border: 1px solid var(--sci-color-P300);
    border-radius: 5px;
    padding: 1em;

    > header {
      font-weight: bold;
      margin-bottom: 1em;
    }

    > form {
      display: grid;
      grid-auto-rows: min-content;
      row-gap: .5em;

      > button[type="submit"] {
        margin-top: 1em;
      }
    }

    > output.error {
      @include response-panel(var(--sci-color-warn-rgb));
    }

    > output.response {
      @include response-panel(var(--sci-color-accent-rgb));
    }
  }

  > sci-list.intentions {
    min-height: 300px;
    grid-column: 1/-1;

    section.intention {
      display: flex;
      justify-content: space-between;

      > sci-qualifier-chip-list {
        flex: auto;
      }

      > span.id, > span.visibility, > span.app {
        flex: none;
        align-self: flex-start;
        font-weight: bold;
        @include sci-ɵcomponents.theme-chip(var(--sci-color-accent), null, var(--sci-color-accent));
        user-select: text;
      }

      > span.visibility {
        user-select: none;
      }
    }
  }
}
